.div_project {
    background-image: url(../../images/project-cover.png);
    outline: none;
    height: 200px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-color: #ffffff;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
}

.div_project_selected {
    background-image: url(../../images/project-cover.png);
    outline: none;
    height: 200px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-color: #ffffff;
    border: 2px solid dodgerblue;
    border-radius: 5px;
}

.p_project_info {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.icon_edit {
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
}

.div_project_info_my {
    padding: 18px;
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
    height: 70px;
}

.div_project_info_example {
    padding: 0 0 0 18px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 30px;
}

.div_project_name {
    padding: 2px 5px 2px 5px;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
}


