.div_root {
    width: 100%;
    height: 100%;
    border: 1px solid #C0C0C0;
    border-top-width: 0;
    border-bottom-width: 0;
    background-color: #ECECEC;
}

.btn_undo {
    width: 35px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/undo.svg);
}

.btn_undo:disabled,
.btn_undo:active {
    opacity: 0.4;
}

.btn_redo {
    width: 35px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/redo.svg);
}

.btn_redo:disabled,
.btn_redo:active {
    opacity: 0.4;
}

.btn_duplicate {
    width: 35px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/duplicate.svg);
}

.btn_duplicate:disabled,
.btn_duplicate:active {
    opacity: 0.4;
}

.btn_delete {
    width: 35px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/delete.svg);
}

.btn_delete:disabled,
.btn_delete:active {
    opacity: 0.4;
}

.btn_clear {
    width: 35px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/clear.svg);
}

.btn_clear:disabled,
.btn_clear:active {
    opacity: 0.4;
}

.btn_lay_flat {
    width: 35px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/layflat.svg);
}

.btn_lay_flat:disabled,
.btn_lay_flat:active {
    opacity: 0.4;
}

.btn_export {
    width: 35px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/export.svg);
}

.btn_export:disabled,
.btn_export:active {
    opacity: 0.4;
}


