#server
/server/node_modules
/server/build
/server/package-lock.json
/server/static/cache

#web
/web/node_modules
/web/build
/web/package-lock.json

#electron
/electron/node_modules
/electron/build
/electron/package-lock.json

# Development Env (Jetbrains, Vim, macOS)
.idea/
*.swp
.DS_Store

# others
/.eslintcache


