#server
/server/node_modules
/server/build-server
/server/package-lock.json
/server/static/cache

#web
/web/node_modules
/web/build-web
/web/package-lock.json

#electron
/electron/node_modules
/electron/build-web
/electron/build-server
/electron/output
/electron/static/cache
/electron/package-lock.json

# Development Env (Jetbrains, Vim, macOS)
.idea/
*.swp
.DS_Store

# others
/.eslintcache


