.div_root {
    position: absolute;
    left: 60px;
    top: 50px;
    width: 450px;
    height: 325px;
    background-color: #F2F2F2;
    z-index: 999;
    opacity: 1;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
}

.div_root_transparent {
    position: absolute;
    left: 60px;
    top: 50px;
    width: 450px;
    height: 325px;
    background-color: #F2F2F2;
    z-index: 999;
    opacity: 0.7;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
}

.div_header {
    width: 100%;
    height: 25px;
    background-color: #CCCCCC;
    border-radius: 5px 5px 0 0;
}

.div_container {
    padding: 5px;
    width: 100%;
    height: 300px;
}

.space {
    position: absolute;
    right: 0;
    width: 125px;
    height: 25px;
    line-height: 0;
}

.input_g_code {
    width: 100%;
    height: 30px;
}

.input_received {
    width: 100%;
    height: 252px;
    margin-top: 5px;
}

.label_title {
    margin-left: 5px;
}

.btn_close {
    width: 25px;
    height: 25px;
    background-image: url(./images/close.svg);
    background-color: transparent;
    outline: none;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid #AAAAAA;
    border-width: 0 0 0 1px;
    vertical-align: middle;
}

.btn_close:active {
    opacity: 0.4;
}

.btn_clear {
    width: 25px;
    height: 25px;
    background-image: url(./images/clear.svg);
    outline: none;
    background-color: transparent;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid #AAAAAA;
    border-width: 0 0 0 1px;
    vertical-align: middle;
}

.btn_clear:active {
    opacity: 0.4;
}

.btn_debug_enabled {
    width: 25px;
    height: 25px;
    background-image: url(./images/debug-enabled.svg);
    outline: none;
    background-color: transparent;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid #AAAAAA;
    border-width: 0 0 0 1px;
    vertical-align: middle;
}

.btn_debug_enabled:active {
    opacity: 0.4;
}

.btn_debug_disabled {
    width: 25px;
    height: 25px;
    background-image: url(./images/debug-disabled.svg);
    outline: none;
    background-color: transparent;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid #AAAAAA;
    border-width: 0 0 0 1px;
    vertical-align: middle;
}

.btn_debug_disabled:active {
    opacity: 0.4;
}

.btn_auto_scroll_enabled {
    width: 25px;
    height: 25px;
    background-image: url(./images/scroll-to-bottom-enabled.svg);
    outline: none;
    background-color: transparent;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid #AAAAAA;
    border-width: 0 0 0 1px;
    vertical-align: middle;
}

.btn_auto_scroll_enabled:active {
    opacity: 0.4;
}

.btn_auto_scroll_disabled {
    width: 25px;
    height: 25px;
    background-image: url(./images/scroll-to-bottom-disabled.svg);
    outline: none;
    background-color: transparent;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid #AAAAAA;
    border-width: 0 0 0 1px;
    vertical-align: middle;
}

.btn_auto_scroll_disabled:active {
    opacity: 0.4;
}

.btn_transparent {
    width: 25px;
    height: 25px;
    background-image: url(./images/transparent.svg);
    outline: none;
    background-color: transparent;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid #AAAAAA;
    border-width: 0 0 0 1px;
    vertical-align: middle;
}

.btn_transparent:active {
    opacity: 0.4;
}
