.btn_connected {
    width: 35px;
    height: 25px;
    margin-right: 5px;
    background-image: url(./images/connected.svg);
    background-color: white;
    outline: none;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    vertical-align: middle;
}

.btn_connected:active {
    opacity: 0.4;
}

.btn_disconnected {
    width: 35px;
    height: 25px;
    margin-right: 5px;
    background-image: url(./images/disconnected.svg);
    background-color: white;
    outline: none;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    vertical-align: middle;
}

.btn_disconnected:active {
    opacity: 0.4;
}

.btn_emergency_stop {
    padding: 0 5px 0 5px;
    height: 25px;
    margin-left: 5px;
    background-color: white;
    outline: none;
    border: 1px solid #ff4d4f;
    border-radius: 4px;
    text-align:center;
    font-size: 13px;
    color: #ff4d4f;
}

.btn_emergency_stop:active {
    opacity: 0.4;
}

.div_monitor {
    padding: 0 5px 0 5px;
    height: 25px;
    background-color: white;
    border: solid #C0C0C0;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
}

.div_control_panel {
    padding: 0 5px 0 5px;
    height: 25px;
    background-color: white;
    border: 1px solid #C0C0C0;
    border-radius: 0 4px 4px 0;
}


