.div_project_name {
    padding: 2px 5px 2px 5px;
    color: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
}
