.btn_emergency_stop {
    position: relative;
    /* width: 148px; */
    height: 24px;
    padding: 0 10px 0 30px;
    margin-right: 110px;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    /* 紧急停止按钮UI调整 */
    /* background-image: url(./images/emergency-stop.svg); */
    outline: none;
    border: none;
    border-radius: 15px;
    background: #D90E0E;
    /* background-size: 148px 30px; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* margin-top: 6px; */
    /* background-color: transparent; */
}

.btn_emergency_stop::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url(./images/little-square.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.btn_emergency_stop:active {
    opacity: 0.4;
}

.btn_connected {
    width: 45px;
    height: 24px;
    background-image: url(./images/connected.svg);
    background-color: white;
    outline: none;
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    vertical-align: middle;
}

.btn_connected:active {
    opacity: 0.4;
}

.btn_disconnected {
    width: 45px;
    height: 24px;
    background-image: url(./images/disconnected.svg);
    background-color: white;
    outline: none;
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    vertical-align: middle;
}

.btn_disconnected:active {
    opacity: 0.4;
}

.btn_official_website {
    width: 45px;
    height: 24px;
    background-image: url(./images/official_website.svg);
    background-color: white;
    outline: none;
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    vertical-align: middle;
}

.btn_official_website:active {
    opacity: 0.4;
}

.btn_forum {
    width: 45px;
    height: 24px;
    background-image: url(./images/forum.svg);
    background-color: white;
    outline: none;
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    vertical-align: middle;
}

.btn_forum:active {
    opacity: 0.4;
}

.btn_manual {
    width: 45px;
    height: 24px;
    background-image: url(./images/manual.svg);
    background-color: white;
    outline: none;
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    vertical-align: middle;
}

.btn_manual:active {
    opacity: 0.4;
}
