.btn_move {
    width: 48px;
    height: 48px;
    outline: none;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    vertical-align: middle;
    background-image: url(./images/move-normal.png);
}

.btn_move:active {
    background-color: dodgerblue;
    background-image: url(./images/move-hover.png);
}

.btn_move_activated {
    width: 48px;
    height: 48px;
    outline: none;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    vertical-align: middle;
    background-color: dodgerblue;
    background-image: url(./images/move-hover.png);
}

.btn_scale {
    width: 48px;
    height: 48px;
    outline: none;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    vertical-align: middle;
    background-image: url(./images/scale-normal.png);
}

.btn_scale:active {
    background-color: dodgerblue;
    background-image: url(./images/scale-hover.png);
}

.btn_scale_activated {
    width: 48px;
    height: 48px;
    outline: none;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    vertical-align: middle;
    background-color: dodgerblue;
    background-image: url(./images/scale-hover.png);
}

.btn_rotate {
    width: 48px;
    height: 48px;
    outline: none;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    vertical-align: middle;
    background-image: url(./images/rotate-normal.png);
}

.btn_rotate:active {
    background-color: dodgerblue;
    background-image: url(./images/rotate-hover.png);
}

.btn_rotate_activated {
    width: 48px;
    height: 48px;
    outline: none;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    vertical-align: middle;
    background-color: dodgerblue;
    background-image: url(./images/rotate-hover.png);
}
