.btn_move {
    width: 40px;
    height: 40px;
    outline: none;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 4px 4px 0 0;
    vertical-align: middle;
    background-image: url(./images/translate.svg);
}

.btn_move:active {
    background-color: lightskyblue;
}

.btn_scale {
    width: 40px;
    height: 40px;
    outline: none;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-top-width: 0;
    border-bottom-width: 0;
    vertical-align: middle;
    background-image: url(./images/scale.svg);
}

.btn_scale:active {
    background-color: lightskyblue;
    background-image: url(./images/scale.svg);
}

.btn_rotate {
    width: 40px;
    height: 40px;
    outline: none;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 0 0 4px 4px;
    vertical-align: middle;
    background-image: url(./images/rotate.svg);
}

.btn_rotate:active {
    background-color: lightskyblue;
    background-image: url(./images/rotate.svg);
}

.btn_reset {
    position: relative;
    display: inline-block;
    height: 24px;
    margin: 0;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    transition: color 0.3s, background 0.3s, border-color 0.3s, box-shadow 0.3s;
    background-image: url('./images/reset.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 28px;
}

