.btn_move {
    width: 40px;
    height: 40px;
    outline: none;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 5px 5px 0 0;
    vertical-align: middle;
    background-image: url(./images/translate.svg);
}

.btn_move:active {
    background-color: lightskyblue;
}

.btn_scale {
    width: 40px;
    height: 40px;
    outline: none;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-top-width: 0;
    border-bottom-width: 0;
    vertical-align: middle;
    background-image: url(./images/scale.svg);
}

.btn_scale:active {
    background-color: lightskyblue;
    background-image: url(./images/scale.svg);
}

.btn_rotate {
    width: 40px;
    height: 40px;
    outline: none;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C0C0C0;
    border-radius: 0 0 5px 5px;
    vertical-align: middle;
    background-image: url(./images/rotate.svg);
}

.btn_rotate:active {
    background-color: lightskyblue;
    background-image: url(./images/rotate.svg);
}

