.btn {
    width: 58px;
    height: 30px;
    outline: none;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 2px;
}

.btn:active {
    opacity: 0.4;
}

.btn:disabled {
    opacity: 0.4;
}

.div_card {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}


.div_num {
    padding-top: 32px;
    text-align: center;
}

.span_text {
    text-align: center;
}

.btn_delete {
    opacity: 0;
    filter: Alpha(opacity=0);
    transition: opacity 0.3s;
    /*显示隐藏动画*/
    position: absolute;
    top: 6px;
    right: 6px;

    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/delete.svg);
}

.div_card :hover .btn_delete {
    opacity: 0.5;
    filter: Alpha(opacity=100)
    /*显示隐藏动画*/
}

.btn_delete:active {
    opacity: 0.2;
}

.div_bottom {
    width: 100%;
    height: 16px;
    background-color: red;
    position: absolute;
    bottom: 0px;
}

.div_parent {
    width: 100%;
    height: 100%;
    background-color: green;
}

.front_end_air_off {
    width: 48px;
    height: 48px;
    content: url(../../images/air_off.svg);
}

.front_end_air_place {
    width: 48px;
    height: 48px;
    content: url(../../images/air_place.svg);
}

.front_end_air_pick {
    width: 48px;
    height: 48px;
    content: url(../../images/air_pick.svg);
}

.front_end_laser_off {
    width: 48px;
    height: 48px;
    content: url(../../images/laser_off.svg);
}

.front_end_laser_on {
    width: 48px;
    height: 48px;
    content: url(../../images/laser_on.svg);
}

.front_end_soft_grip {
    width: 48px;
    height: 48px;
    content: url(../../images/soft_grip.svg);
}

.front_end_soft_neutral {
    width: 48px;
    height: 48px;
    content: url(../../images/soft_neutral.svg);
}

.front_end_soft_release {
    width: 48px;
    height: 48px;
    content: url(../../images/soft_release.svg);
}


.button_start {
    width: 48px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/start.svg);
}

.button_start:active {
    background-image: url(../../images/start_p.svg);
}

.button_start:disabled {
    opacity: 0.4;
    background-image: url(../../images/start.svg);
}

.button_stop {
    width: 48px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/stop.svg);
}

.button_stop:active {
    background-image: url(../../images/stop_p.svg);
}

.button_stop:disabled {
    opacity: 0.4;
    background-image: url(../../images/stop.svg);
}

.button_record {
    width: 48px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/record.svg);
}

.button_record:active {
    background-image: url(../../images/record_p.svg);
}

.button_record:disabled {
    opacity: 0.4;
    background-image: url(../../images/record.svg);
}


.button_delete {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/delete.svg);
}

.button_delete:active {
    opacity: 0.4;
}

.button_delete:disabled {
    opacity: 0.4;
}

.button_export {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/export.svg);
}

.button_export:active {
    opacity: 0.4;
}

.button_export:disabled {
    opacity: 0.4;
}

.btn_rotate_left {
    width: 45px;
    background-image: url('../../images/rotate_left.svg') !important;
    background-size: 25px 25px !important;
    background-repeat: no-repeat !important;
    outline: none !important;
    background-position: center !important;
    vertical-align: middle !important;
  }
  
  .btn_rotate_right {
    width: 45px;
    background-image: url('../../images/rotate_right.svg') !important;
    background-size: 25px 25px !important;
    background-repeat: no-repeat !important;
    outline: none !important;
    background-position: center !important;
    vertical-align: middle !important;
  }

  .btn_swag {
    width: 45px;
    background-image: url('../../images/swag.svg') !important;
    background-size: 25px 25px !important;
    background-repeat: no-repeat !important;
    outline: none !important;
    background-position: center !important;
    vertical-align: middle !important;
  }
  
  .btn_clockwise {
    width: 45px;
    background-image: url('../../images/clockwise.svg') !important;
    background-size: 25px 25px !important;
    background-repeat: no-repeat !important;
    outline: none !important;
    background-position: center !important;
    vertical-align: middle !important;
  }
  
  .btn_anticlockwise {
    width: 45px;
    background-image: url('../../images/anticlockwise.svg') !important;
    background-size: 25px 25px !important;
    background-repeat: no-repeat !important;
    outline: none !important;
    background-position: center !important;
    vertical-align: middle !important;
  }