.number_input {
    width: 100%;
    border-radius:2px
}

.number_input:focus {
    border: 1px solid lightskyblue;
    outline: 1px solid lightskyblue;
}

.number_input:hover {
    border: 1px solid lightskyblue;
    outline: 1px solid lightskyblue;
}

