.h_file_type {
    margin-top: 65px;
    color: #999999;
}

.btn_bw {
    width: 58px;
    height: 58px;
    background-size: 58px 58px;
    background-color: transparent;
    background-image: url(../../images/bw.png);
    outline: none;
    border: none;
}

.btn_greyscale {
    width: 58px;
    height: 58px;
    background-size: 58px 58px;
    background-color: transparent;
    background-image: url(../../images/greyscale.png);
    outline: none;
    border: none;
}

.btn_svg {
    width: 58px;
    height: 58px;
    background-size: 58px 58px;
    background-color: transparent;
    background-image: url(../../images/svg.png);
    outline: none;
    border: none;
}

.btn_text {
    width: 58px;
    height: 58px;
    background-size: 58px 58px;
    background-color: transparent;
    background-image: url(../../images/text.png);
    outline: none;
    border: none;
}

.btn_bw:active {
    opacity: 0.7;
}

.btn_greyscale:active {
    opacity: 0.7;
}

.btn_svg:active {
    opacity: 0.7;
}

.btn_text:active {
    opacity: 0.7;
}

.btn_lock {
    position: absolute;
    top: 45.5px;
    right: 86px;
    width: 22px;
    height: 22px;
    background: url('../../../writeAndDraw/images/lock.svg');
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    outline: none;
    z-index: 1;
}

.btn_unlock {
    position: absolute;
    top: 45.5px;
    right: 86px;
    width: 22px;
    height: 22px;
    background: url('../../../writeAndDraw/images/unlock.svg');
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    outline: none;
    z-index: 1;
}

.btn_lock:active, .btn_unlock:active {
    opacity: .4;
}

/*.number_input {*/
/*width: 80px;*/
/*}*/

