.btn_action_work {
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    vertical-align: middle;
}

.btn_action_work:active {
    opacity: 0.4;
}

.img_point_a {
    content: url("./images/pointA.png");
    width: 400px;
    height: 400px;
}

.img_point_b {
    content: url("./images/pointB.png");
    width: 400px;
    height: 400px;
}

.img_point_c {
    content: url("./images/pointC.png");
    width: 400px;
    height: 400px;
}

.img_point_d {
    content: url("./images/pointD.png");
    width: 400px;
    height: 400px;
}

.div_loading_hidden {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #FFFFFFA0;
    visibility: hidden;
}

.div_loading_visible {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #FFFFFFA0;
    visibility: visible;
}

.loading1 {
    width: 50px;
    height: 40px;
    margin: 250px auto;
    text-align: center;
}

.loading1 span {
    width: 5px;
    height: 100%;
    display: inline-block;
    background: #999999;;
    margin: 2px;
    animation: mymove 1.2s infinite ease-in-out;
    -webkit-animation: mymove 1.2s infinite ease-in-out;
    /*
       mymove代表动画名字
       1.2s代表执行时间
       infinite表示一直循环执行
       ease-in-out表示先慢后快的缓动
   */
}

.loading1 > span:nth-child(2) {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.loading1 > span:nth-child(3) {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.loading1 > span:nth-child(4) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.loading1 > span:nth-child(5) {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

@keyframes mymove {
    0% {
        transform: scaleY(0.4);
    }
    25% {
        transform: scaleY(1.0);
    }
    50% {
        transform: scaleY(0.4);
    }
    75% {
        transform: scaleY(0.4);
    }
    100% {
        transform: scaleY(0.4);
    }
}