.btn_action_work {
    width: 255px;
    height: 30px;
    outline: none;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    vertical-align: middle;
}

.btn_action_work:active {
    opacity: 0.4;
}

.img_point_a {
    content: url("./images/pointA.png");
    width: 430px;
    height: 400px;
}

.img_point_b {
    content: url("./images/pointB.png");
    width: 430px;
    height: 400px;
}

.img_point_c {
    content: url("./images/pointC.png");
    width: 430px;
    height: 400px;
}

.img_point_d {
    content: url("./images/pointD.png");
    width: 430px;
    height: 400px;
}