:global(.ant-collapse-content .ant-collapse-content-box) {
    background-color: #eeeeee;
    padding: 3px;
}

:global(.ant-tabs-top .ant-tabs-nav) {
    margin: 0;
}

:global(.ant-tabs-tab) {
    margin: 0 10px 0 10px;
}

/*!*tab*!*/
/*:global(.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab) {*/
    /*padding: 0px 4px;*/
    /*font-size: 10px;*/
/*}*/

/*!*selector*!*/
/*:global(.ant-input-number) {*/
    /*font-size: 10px;*/
/*}*/

/*:global(.ant-input-number-sm input ) {*/
    /*height: 20px;*/
/*}*/

/*:global(.ant-select-single:not(.ant-select-customize-input) .ant-select-selector) {*/
    /*height: 20px;*/
    /*font-size: 10px;*/
/*}*/

/*:global(.ant-select-single .ant-select-selector .ant-select-selection-item) {*/
    /*line-height: 20px;*/
/*}*/

/*!*raido*!*/
/*:global(.ant-radio-button-wrapper) {*/
    /*line-height: 20px;*/
/*}*/

/*:global(.ant-radio-button-wrapper) {*/
    /*height: 20px;*/
    /*font-size: 10px;*/
/*}*/

/*:global(.ant-radio-group-small .ant-radio-button-wrapper ) {*/
    /*height: 20px;*/
    /*line-height: 18px;*/
/*}*/


