.btn_bw {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-color: transparent;
    background-image: url(../../../images/laser/bw.png);
    outline: none;
    border: none;
}

.btn_greyscale {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-color: transparent;
    background-image: url(../../../images/laser/greyscale.png);
    outline: none;
    border: none;
}

.btn_svg {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-color: transparent;
    background-image: url(../../../images/laser/svg.png);
    outline: none;
    border: none;
}

.btn_text {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-color: transparent;
    background-image: url(../../../images/laser/text.png);
    outline: none;
    border: none;
}

.btn_bw:active {
    opacity: 0.7;
}

.btn_greyscale:active {
    opacity: 0.7;
}

.btn_svg:active {
    opacity: 0.7;
}

.btn_text:active {
    opacity: 0.7;
}

/*.number_input {*/
    /*width: 80px;*/
/*}*/

