.div_menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 35px;
    background-color: #4DA9F6;
}

.div_workspace {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 35px;
}

