.div_variable_list {
    position: absolute;
    width: 120px;
    top: 2px;
    right: 2px;
    z-index: 99;
}

.div_variable_item {
    width: 120px;
    height: 24px;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    background-color: #E7F1FE;
    vertical-align: middle;
}

.div_variable_item_name {
    position: absolute;
    left: 2px;
    width: 75px;
    padding-left: 2px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.div_variable_item_value {
    position: absolute;
    right: 2px;
    width: 40px;
    padding-left: 2px;
    border-radius: 2px;
    color: white;
    background-color: #F1913C;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.btn_green_flag {
    position: absolute;
    left: 10px;
    bottom: 8px;
    background-image: url(../../images/green_flag.svg);
    z-index: 99;
    outline: none;
    width: 40px;
    height: 40px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

.btn_stop {
    position: absolute;
    left: 10px;
    bottom: 50px;
    background-image: url(../../images/stop.svg);
    z-index: 99;
    outline: none;
    width: 40px;
    height: 40px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

.btn_green_flag:active {
    opacity: 0.4;
}

.btn_stop:active {
    opacity: 0.4;
}

.btn_green_flag:disabled {
    opacity: 0.4;
}

.btn_stop:disabled {
    opacity: 0.4;
}

