.btn_green_flag {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-image: url(../../images/code/green_flag.svg);

    z-index: 99;
    outline: none;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

.btn_stop {
    position: absolute;
    left: 10px;
    bottom: 58px;
    background-image: url(../../images/code/stop.svg);

    z-index: 99;
    outline: none;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

.btn_green_flag:active {
    opacity: 0.4;
}

.btn_stop:active {
    opacity: 0.4;
}

.btn_green_flag:disabled {
    opacity: 0.4;
}

.btn_stop:disabled {
    opacity: 0.4;
}
